#product-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;
}

body {
    text-align: center;
    background-color: rgb(81, 124, 167);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

div.item img{
    max-width: 33vw;
    max-height: 33vh;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(225, 141, 14);
}

div.item {
    flex-wrap: wrap;
    background-color: rgb(254, 178, 3);
    max-width: 35vw;
    max-height: 100vh;
    border-radius: 8px;
    padding: 15px 32px;
    box-shadow: 5px 5px rgb(57, 91, 125);
}

button {
    background-color: #409cb5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: .1s;
    box-shadow: 0 5px #999;
}

button:hover {
    background-color: #3e6a77;
    cursor: pointer;
}

button:active {
    background-color: #3e6a77;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }



nav h1 {
    cursor: pointer;
    display: inline-block;
}

nav h1:hover {
    color:rgb(53, 53, 53)
}

nav h4 {
    cursor: pointer;
    display: inline-block;
    margin: 1vh;
}

nav h4:hover {
    color:rgb(53, 53, 53)
}

nav h4#delete:hover {
    color:rgb(128, 36, 36)
}

